<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="style.css"/>
	<link rel="shortcut icon" href="favicon.ico">
	<title>Trails of Cold Steel ModHub</title>
</head>
<body style="background-color:lightgreen;">
	<div class="container-fluid" id="app">
		<div id="header">
			<form v-if="!authenticated" class="form-inline" style="display: flex; justify-content: flex-end">
				<div class="form-group mb-2">
					<input type="text" name="username" class="form-control" placeholder="Username" v-model="input.username">
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<input type="password" name="password" class="form-control" placeholder="Password" v-model="input.password">
				</div>
				<button type="button" class="btn btn-primary mb-2" v-on:click="login()">Login</button>
			</form>
			<form v-else class="form-inline" style="display: flex; justify-content: flex-end">
				<div class="form-group mx-sm-3 mb-2" v:model="this.loggedIn">
					<label>Hello, {{loggedIn }}</label>
				</div>
				<button type="button" class="btn btn-primary mb-2" v-on:click="logout()">Logout</button>
			</form>
			<center>
				<div id="div"><h1>Gitmod</h1></div>
			</center>
		</div>
		
		
		<div class="row">
			<div class="col-3">
				<h3>Projects List</h3>
				<div v-if="authenticated" class="btn-group d-flex" role="group">
					<button type="button" class="btn btn-success w-100" v-on:click="getPublic()">Public</button>
					<button type="button" class="btn btn-info w-100" v-on:click="getPrivate()">Private</button>
					<button type="button" class="btn btn-warning w-100" v-on:click="getShared()">Shared</button>
				</div><br>
				<div id="projectsList">
					<div class="list-group" id="list-tab" role="tablist">
						<button type="button" class="btn btn-secondary" v-if="authenticated" data-toggle="list" v-on:click="createProject()"><b>Create New Project</b></button>
						<a v-for="project in projectsData" :id="'list-' + project.id + '-list'" class="list-group-item list-group-item-action" data-toggle="list" role="tab" :href="'#' + project.id" v-on:click="selectProject(project.id)">
							<div class="d-flex w-100 justify-content-between">
								{{project.name}}
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col mr-4" style="background-color:#ffffff">
				<div v-if="creatingProject">
					<div class="footer">
						<button type="button">Create</button>
					</div>
				</div>
				<div v-else>
					{{selectedProject.id}}<br>
					{{selectedProject.name}}
				</div>
			</div>
		</div>
	</div>
	
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./app.js" ></script>
	
</body>
</html>