<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
	<link rel="shortcut icon" href="favicon.ico">
	<title>Trails of Cold Steel ModHub</title>
</head>
<body style="background-color:lightgreen;">
	<div class="container-fluid d-flex flex-column h-100" id="app">
		<div id="header">
			<form v-if="!authenticated" class="form-inline" style="display: flex; justify-content: flex-end">
				<div class="form-group mb-2">
					<input type="text" name="username" class="form-control" placeholder="Username" v-model="input.username">
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<input type="password" name="password" class="form-control" placeholder="Password" v-model="input.password">
				</div>
				<button type="button" class="btn btn-primary mb-2" v-on:click="login()">Login</button>
			</form>
			<form v-else class="form-inline" style="display: flex; justify-content: flex-end">
				<div class="form-group mx-sm-3 mb-2" v:model="this.loggedIn">
					<label>Hello, {{loggedIn }}</label>
				</div>
				<button type="button" class="btn btn-primary mb-2" v-on:click="logout()">Logout</button>
			</form>
			<center>
				<div id="div"><h1>Gitmod</h1></div>
			</center>
		</div>
		
		
		<div class="container-fluid d-flex overflow-auto flex-grow-1">
			<div class="col-2 mx-2 d-flex flex-column overflow-auto" style="background-color:#ccffff">
				<h3>Projects List</h3>
				<div v-if="authenticated" class="btn-group d-flex" role="group">
					<button type="button" class="btn btn-success w-100" v-on:click="getPublic()">Public</button>
					<button type="button" class="btn btn-info w-100" v-on:click="getPrivate()">Created</button>
					<!--  <button type="button" class="btn btn-warning w-100" v-on:click="getShared()">Shared</button>-->
				</div><br>
				<button type="button" class="btn btn-secondary" v-if="authenticated" data-toggle="list" v-on:click="createProject()"><b>Create New Project</b></button>
				<div id="projectsList" class="overflow-auto">
					<div class="list-group" role="tablist">
						<a v-for="project in projectsData" :id="'list-' + project.id + '-list'" class="list-group-item list-group-item-action" data-toggle="list" role="tab" :href="'#' + project.id" v-on:click="selectProject(project.id)">
							<div class="d-flex w-100 justify-content-between">
								{{project.name}}
							</div>
						</a>
					</div>
				</div>
			</div>
			<div v-if="!viewMagic" class="col mr-4 d-flex flex-column overflow-auto" style="background-color:#ffffff">
				<div v-if="creatingProject">
					<div v-if="authenticated">
						<div class="form-group col-6 pt-3">
						  <h4>Create Project</h4>
				          <div class="input-group mb-3">
				            <div class="input-group-prepend">
				              <span class="input-group-text">Project Name</span>
				            </div>
				            <input class="col-8 form-control" type="text" v-model="selectedProject.name" placeholder="Project Name" />
				          </div>
				          <div class="input-group mb-3">
				            <div class="input-group-prepend">
				              <span class="input-group-text">Base Project</span>
				            </div>
				            <select class="custom-select col-8" v-model="selectedProject.id">
				            	<option v-for="project in eligibleProjects" :value="project.id">{{project.name}}</option>
				            </select>
				          </div>
				          <div class="input-group mb-3">
				            <div class="input-group-prepend">
				              <span class="input-group-text mr-4">Public</span>
				            </div>
				            <div class="form-check form-check-inline">
				            	<input class="form-check-input" type="radio" value="1" name="projectPublic" v-model="selectedProject.isPublic" id="publicYes"> 
				            	<label class="form-check-label" for="publicYes">Yes</label>
				            </div>
				            <div class="form-check form-check-inline">
				            	<input class="form-check-input" type="radio" value="0" name="projectPublic" v-model="selectedProject.isPublic" id="publicNo"> 
				            	<label class="form-check-label" for="publicNo">No</label>
				            </div>
				          </div>
				          <button type="button" class="btn btn-success" v-on:click="submitProject()">Submit</button>
				    	</div>
					</div>
			    	
				</div>
				<div v-else class="d-flex flex-column overflow-auto">
					<div class="form-group col-6 pt-3 flex-shrink-1">
					  <h4 v-if="editMode">Edit Project</h4>
					  <h4 v-else>View Project</h4>
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Project Name</span>
			            </div>
			            <input v-if="editMode" class="col-8 form-control" type="text" v-model="selectedProject.name" placeholder="Project Name" />
			            <input v-else class="col-8 form-control " type="text" v-model="selectedProject.name" placeholder="Project Name" readonly/>
			          </div>
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Owner</span>
			            </div>
			            <input class="col-8 form-control " type="text" v-model="selectedProject.owner" readonly/>
			          </div>
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text mr-4">Public</span>
			            </div>
			            <div v-if="editMode" class="form-check form-check-inline">
			            	<input class="form-check-input" type="radio" value="1" name="projectPublic" v-model="selectedProject.isPublic" id="publicYes"> 
			            	<label class="form-check-label" for="publicYes">Yes</label>
			            </div>
			            <div v-else class="form-check form-check-inline">
			            	<input class="form-check-input" type="radio" value="1" name="projectPublic" v-model="selectedProject.isPublic" id="publicYes" disabled> 
			            	<label class="form-check-label" for="publicYes">Yes</label>
			            </div>
			            
			            
			            <div v-if="editMode" class="form-check form-check-inline">
			            	<input class="form-check-input" type="radio" value="0" name="projectPublic" v-model="selectedProject.isPublic" id="publicNo"> 
			            	<label class="form-check-label" for="publicNo">No</label>
			            </div>
			            <div v-else class="form-check form-check-inline">
			            	<input class="form-check-input" type="radio" value="0" name="projectPublic" v-model="selectedProject.isPublic" id="publicNo" disabled> 
			            	<label class="form-check-label" for="publicNo">No</label>
			            </div>
			          </div>
			          <button v-if="!editMode && selectedProject.owner == loggedIn" type="button" class="btn btn-secondary" v-on:click="turnOnEdit()">Edit</button>
			          <button v-if="!editMode && selectedProject.owner == loggedIn" type="button" class="btn btn-danger" v-on:click="deleteProject()">Delete</button>
			          <button v-if="!editMode && magicData == null" type="button" class="btn btn-info" v-on:click="getMagic()">Show Contents</button>
			          <button v-if="!editMode && magicData != null" type="button" class="btn btn-info" v-on:click="magicData = null">Hide Contents</button>
			          <button v-if="editMode" type="button" class="btn btn-secondary" v-on:click="turnOffEdit()">Close</button>
			          <button v-if="editMode" type="button" class="btn btn-success" v-on:click="submitProject()">Submit</button>
			          
			    	</div>
			    	<div class="overflow-auto">
			          <table v-if="magicData != null" id="magicTable" class="table table striped table-bordered table-sm">
		          		<tr>
		          			<th class="th-sm">ID</th>
		          			<th class="th-sm">Name</th>
		          			<th class="th-sm">Description</th>
		          			<th class="th-sm"></th>
		          		</tr>
		          		<tr v-for="magic in magicData">
		          			<td>{{magic.magic_id}}</td>
		          			<td>{{magic.name}}</td>
		          			<td>{{magic.description}}</td>
		          			<td><button type="button" class="btn btn-secondary" v-on:click="selectMagic(magic.magic_id)">View</button></td>
		          		</tr>
			          </table>
			    	</div>
				</div>
			</div>
			<div v-else class="col mr-4 d-flex flex-column overlow-auto" style="background-color:#ffffff">
					<div class="form-group col-8 pt-3 flex-shrink-1">
					  <h4 v-if="editMagic">Edit Magic</h4>
					  <h4 v-else>View Magic</h4>
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Name</span>
			            </div>
			            <input v-if="editMagic" class="col-8 form-control" type="text" v-model="selectedMagic.name" placeholder="Name" />
			            <input v-else class="col-8 form-control " type="text" v-model="selectedMagic.name" placeholder="Name" readonly/>
			          </div>
			          
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Animation</span>
			            </div>
			            <input v-if="editMagic" class="col-8 form-control" type="text" v-model="selectedMagic.animation" placeholder="Animation" />
			            <input v-else class="col-8 form-control " type="text" v-model="selectedMagic.animation" placeholder="Animation" readonly/>
			          </div>
			          
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Description</span>
			            </div>
			            <textarea v-if="editMagic" class="col-10 form-control" v-model="selectedMagic.description" placeholder="Description"></textarea>
			            <textarea v-else class="col-10 form-control " v-model="selectedMagic.description" placeholder="Description" readonly></textarea>
			          </div>
			          
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Category</span>
			            </div>
			            <select v-if="editMagic" class="custom-select col-5" v-model="selectedMagic.category.id">
			            	<option v-for="category in categories" :value="category.id">{{category.name}}</option>
			            </select>
			            <select v-else class="custom-select col-5" v-model="selectedMagic.category.id" disabled>
			            	<option v-for="category in categories" :value="category.id">{{category.name}}</option>
			            </select>
			          </div>
			          
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Type</span>
			            </div>
			            <select v-if="editMagic" class="custom-select col-5" v-model="selectedMagic.type.id">
			            	<option v-for="type in types" :value="type.id">{{type.name}}</option>
			            </select>
			            <select v-else class="custom-select col-5" v-model="selectedMagic.type.id" disabled>
			            	<option v-for="type in types" :value="type.id">{{type.name}}</option>
			            </select>
			          </div>
			          
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Element</span>
			            </div>
			            <select v-if="editMagic" class="custom-select col-5" v-model="selectedMagic.element.id">
			            	<option v-for="element in elements" :value="element.id">{{element.name}}</option>
			            </select>
			            <select v-else class="custom-select col-5" v-model="selectedMagic.element.id" disabled>
			            	<option v-for="element in elements" :value="element.id">{{element.name}}</option>
			            </select>
			          </div>
			          
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">User</span>
			            </div>
			            <select v-if="editMagic" class="custom-select col-5" v-model="selectedMagic.character.id">
			            	<option v-for="character in characters" :value="character.id">{{character.name}}</option>
			            </select>
			            <select v-else class="custom-select col-5" v-model="selectedMagic.character.id" disabled>
			            	<option v-for="character in characters" :value="character.id">{{character.name}}</option>
			            </select>
			            <div class="input-group-prepend">
			              <span class="input-group-text">Level Learn</span>
			            </div>
			            <input v-if="editMagic" class="col-2 form-control" v-model="selectedMagic.level_learn" number/>
			            <input v-else class="col-2 form-control" v-model="selectedMagic.level_learn" readonly number/>
			          </div>
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Target Type</span>
			            </div>
			            <select v-if="editMagic" class="custom-select col-5" v-model="selectedMagic.target_type.id">
			            	<option v-for="targetType in targetTypes" :value="targetType.id">{{targetType.name}}</option>
			            </select>
			            <select v-else class="custom-select col-5" v-model="selectedMagic.target_type.id" disabled>
			            	<option v-for="targetType in targetTypes" :value="targetType.id">{{targetType.name}}</option>
			            </select>
			            <div class="input-group-prepend">
			              <span class="input-group-text">Range</span>
			            </div>
			            <input v-if="editMagic" class="col-2 form-control" v-model="selectedMagic.target_range" number/>
			            <input v-else class="col-2 form-control" v-model="selectedMagic.target_range" readonly number/>
			            <div class="input-group-prepend">
			              <span class="input-group-text">Size</span>
			            </div>
			            <input v-if="editMagic" class="col-2 form-control" v-model="selectedMagic.target_size" number/>
			            <input v-else class="col-2 form-control" v-model="selectedMagic.target_size" readonly number/>
			          </div>
			          
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Unbalance Bonus</span>
			            </div>
			            <input v-if="editMagic" class="col-2 form-control" v-model="selectedMagic.unbalance" number/>
			            <input v-else class="col-2 form-control " v-model="selectedMagic.unbalance" readonly number/>
			            
			            <div class="input-group-prepend pl-4">
			              <span class="input-group-text">Cost</span>
			            </div>
			            <input v-if="editMagic" class="col-2 form-control" v-model="selectedMagic.cost" number/>
			            <input v-else class="col-2 form-control " v-model="selectedMagic.cost" readonly number/>
			          </div>
			          
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Cast Delay</span>
			            </div>
			            <input v-if="editMagic" class="col-2 form-control" v-model="selectedMagic.cast_delay" number/>
			            <input v-else class="col-2 form-control " v-model="selectedMagic.cast_delay" readonly number/>
			            
			            <div class="input-group-prepend pl-4">
			              <span class="input-group-text">Recovery Delay</span>
			            </div>
			            <input v-if="editMagic" class="col-2 form-control" v-model="selectedMagic.recovery_delay" number/>
			            <input v-else class="col-2 form-control " v-model="selectedMagic.recovery_delay" readonly number/>
			          </div>
			          
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Effect 1</span>
			            </div>
			            <select v-if="editMagic" class="custom-select col-5" v-model="selectedMagic.effect1.id" v-on:change="getEffect1(selectedMagic.effect1.id)">
			            	<option v-for="effect in effects" :value="effect.id">{{effect.name}}</option>
			            </select>
			            <select v-else class="custom-select col-5" v-model="selectedMagic.effect1.id" disabled>
			            	<option v-for="effect in effects" :value="effect.id">{{effect.name}}</option>
			            </select>
			            <div class="input-group-prepend">
			              <span class="input-group-text">{{effect1.desc1}}</span>
			            </div>
			            <input v-if="editMagic" class="col-2 form-control" v-model="selectedMagic.effect1.data1" number/>
			            <input v-else class="col-2 form-control" v-model="selectedMagic.effect1.data1" readonly number/>
			            <div v-if="effect1.desc2 != null" class="input-group-prepend">
			              <span class="input-group-text">{{effect1.desc2}}</span>
			            </div>
			            <input v-if="editMagic && effect1.desc2 != null" class="col-2 form-control" v-model="selectedMagic.effect1.data2" number/>
			            <input v-if="!editMagic && effect1.desc2 != null" class="col-2 form-control" v-model="selectedMagic.effect1.data2" readonly number/>
			          </div>
			          
			          <div class="input-group mb-3">
			            <div class="input-group-prepend">
			              <span class="input-group-text">Effect 2</span>
			            </div>
			            <select v-if="editMagic" class="custom-select col-5" v-model="selectedMagic.effect2.id" v-on:change="getEffect2(selectedMagic.effect2.id)">
			            	<option v-for="effect in effects" :value="effect.id">{{effect.name}}</option>
			            </select>
			            <select v-else class="custom-select col-5" v-model="selectedMagic.effect2.id" disabled>
			            	<option v-for="effect in effects" :value="effect.id">{{effect.name}}</option>
			            </select>
			            <div v-if="effect2.desc1 !=null" class="input-group-prepend">
			              <span class="input-group-text">{{effect2.desc1}}</span>
			            </div>
			            <input v-if="editMagic && effect2.desc1 != null" class="col-2 form-control" v-model="selectedMagic.effect2.data1" number/>
			            <input v-if="!editMagic && effect2.desc1 != null" class="col-2 form-control" v-model="selectedMagic.effect2.data1" readonly number/>
			            <div v-if="effect2.desc2 != null" class="input-group-prepend">
			              <span class="input-group-text">{{effect2.desc2}}</span>
			            </div>
			            <input v-if="editMagic && effect2.desc2 != null" class="col-2 form-control" v-model="selectedMagic.effect2.data2" number/>
			            <input v-if="!editMagic && effect2.desc2 != null" class="col-2 form-control" v-model="selectedMagic.effect2.data2" readonly number/>
			          </div>
			          <button v-if="!editMagic && selectedProject.owner == loggedIn" type="button" class="btn btn-secondary" v-on:click="editMagic = true">Edit</button>
			          <button v-if="!editMagic" type="button" class="btn btn-secondary" v-on:click="selectedMagic={}">Close</button>
			          <button v-if="editMagic" type="button" class="btn btn-secondary" v-on:click="turnOffEditMagic()">Close</button>
			          <button v-if="editMagic" type="button" class="btn btn-success" v-on:click="submitMagic()">Submit</button>
		          </div>
			</div>
		</div>
		<div><i><center><font face="serif" color="DarkBlue">Made by: Nhan Nguyen and Tristan Carrier</font></center></i></div>
	</div>
	
	
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="./app.js" ></script>
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	
</body>
</html>